*{font-family: 'Open Sans', sans-serif;}
.tuitt-button{
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	text-align: right;
}

nav{
	position: sticky;
	top: 0px;
	z-index: 1;
	background-color: white;
}

ul{
display:inline;	
/*position: sticky;
top:0px;*/
}
.right-nav{
	text-align: right;
	margin-right: 100px;
	/*position: sticky;*/
	}

.nav{
	display: inline;
	margin: 0.5rem;
	text-align: right;
	
	}

.nav-logo{
	display: inline;
	float: left;
	margin-top: 20px;
	margin-left: 100px;


}

li{

	list-style-type: none;

}

#bg-image{
	/*min-height: 30vh;*/
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100vw;
	background-position: center center;
	
}
.container{
	margin-left: auto;
	margin-right: 100px;
	text-align: right;
	width: 400px;
	word-wrap: break-word;
	height: 35vh;
}

.front-bg{
	background-color: black;
	opacity: 65%;
	}


.title{
	font-family: Zilla Slab;
	text-align: right;
	color: white;
	font-size: 2em;
}
.subtitle{
	text-align:right;
	color: white;
	font-size: 1em;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	text-align:right;
}

.intro{
	/*border-bottom: 1px solid gray;
	position: sticky;*/
	position: relative;

}
.title-2{
	font-family: Zilla Slab;
	text-align: center;
}

.pre-footer{
	background-color: #f7fbfb;
	padding-top: 2rem;
	padding-bottom: 4rem;
	position: relative;
}

.book-button{
	background-color: #336589;
	border-radius: 25px;
	color: white;
	display: block;
	margin: auto;
	
}

.intro-description{

	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.prefooter-description{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}


footer{
	text-align: center;
	}
